<footer>
  <p>Sale Merchant Copyright &copy; 2022</p>
  <div class="icons">
    <a href="https://m.facebook.com" class="fa fa-facebook"></a>
    <a href="https://twitter.com" class="fa fa-twitter"></a>
  </div>
</footer>
