<%- include('./partials/header.ejs')%>

        <section id="introduction">
            <div class="container">
                <h1>“I don’t count my sit-ups.</h1> 
                <h1>only start counting when it starts hurting because they’re the only ones that count.”</h1> 
                <h1>-Muhammad Ali</h1>
                <h3>Here you can find, trade or give away Fitness Equipments. </h3>    
            </div>
        </section>
<%- include('./partials/footer.ejs')%>
        