<%- include('../partials/header.ejs')%>
<section id="introduction">
  <div class="overlay"></div>
  <div class="container">
    <div class="content">
      <h1>About Us</h1>
      <h4>Welcome to Trade Merchant.</h4>
      <br /><br />
      <h4>
        We're dedicated to giving you the very best of furniture, with a focus
        on variety and good quality.
      </h4>
      <br />
      <h4>Founded in 2022 by Ankita and Anurag.</h4>
      <br />
      <h4>
        If you have any questions or comments, please don't hesitate to contact
        us.
      </h4>
      <br /><br />
      <h4>Sincerely,</h4>
      <br />
      <h4>Ankita and Anurag</h4>
      <br />
    </div>
  </div>
</section>
<%- include('../partials/footer.ejs')%>
