<%- include('../partials/header.ejs')%>
<section id="introduction">
    <div class="container">
        <h4>GOT A QUESTION ?</h4>
        <h1>Contact Fit Trade</h1><br>
        <h4>We're here to help and answer any questions you might have.</h4><br><br>
        <h4>We look forward to hearing from you.</h4><br><br>
        <h4>Send us an email on fitTrade@gmail.com</h4><br>    
    </div>
</section>
<%- include('../partials/footer.ejs')%>