<%- include('../partials/header.ejs')%>
<section id="introduction">
  <div class="overlay"></div>
  <div class="container">
    <div class="content">
      <h1>Contact Trade Merchant</h1>
      <br />
      <h4>We're here to help and answer any questions you might have.</h4>
      <br /><br />
      <h4>We look forward to hearing from you.</h4>
      <br /><br />
      <h4>Send us an email on tradeMerchant@gmail.com</h4>
      <br />
    </div>
  </div>
</section>
<%- include('../partials/footer.ejs')%>
